* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  :root {
    --primary: orange;
  }
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .container {
    width: 400px;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    box-shadow: 1px 2px 20px rgb(189, 189, 189);
    padding: 30px;
    border-radius: 12px;
    position: relative;
  }
  
  .header {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.15rem;
  }
  
  p {
    font-size: 16px;
    line-height: 1.3;
  }
  
  #display-div {
    /* margin-top: 20px; remove when not viewed on codepen */
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  #previous-display {
    font-size: 13px;
    line-height: 1;
    /* margin: 2px 0; remove when not viewed on codepen */
  }
  
  #stage-display {
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    right: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 5px;
    font-weight: bold;
  }
  button {
    /* margin-top: 10px; */
    /* margin-bottom: 5px; remove when not viewed on codepen */
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
  }
  
  #guess-box {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding: 8px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    font-size: 15px;
    /* margin: 20px 0; remove when not viewed on codepen */
  }
  
  #low-hi {
    padding: 4px 8px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
  }
  
  .progress-bg {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: aliceblue;
    border-radius: 12px;
  }
  
  #progress {
    border-radius: 6px;
    width: 0;
    height: 6px;
    /* background: var(--primary); */
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  strong {
    font-size: 17px;
  }
  
  /* Animation Section */

  #svg-clip {
    position: relative;
    right: 120px;
    
  }
/* animation: drive 4s ease-in 1s infinite; */
  #car-full {
    
    transform-origin: center;
    
  }

  @keyframes drive {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(100%);
    }
  }

  #tire-left, #tire-right {
    animation: wheel 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;

  }

  @keyframes wheel {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  /* #mirror, #mirror_2 {
    fill:rgb(63, 57, 57);
    
    
  }

  /* #car-body{
  
  } */
/* Back car seat */
  /* #back-seat, #back-seat_2{
    fill:rgb(63, 57, 57);
    display: none;
    
  } */ 

  #stage-display {
    /* fill: tomato; */
    animation: sunshine 10s ease-in infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }
  #sun {
    display: none;
  }
  
  @keyframes sunshine {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1.4);
    }
  }


#cloud_2 {
  animation: cloud 200s ease-in infinite both;
  transform-origin: center;
  
}
#cloud_3 {
  animation: cloud 270s ease-in infinite both;
  transform-origin: center;
  
}



#cloud_4, #cloud_6,#cloud_8,#cloud_10,#cloud_12,#cloud_14,#cloud_16,#cloud_18, #cloud_20, #cloud_22,#cloud_24, #cloud_26 {
  animation: cloud 600s ease infinite both;
  transform-origin: center;
  
}

#cloud_5, #cloud_7,#cloud_9,#cloud_11,#cloud_13,#cloud_15,#cloud_17,#cloud_19,#cloud_21, #cloud_23,#cloud_25 {
  animation: cloud 400s ease infinite both;
  transform-origin: center;
  
} 

@keyframes cloud {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(30%);
  }
}

.svg-clip {
  position: relative;
}
.svg-track{
  border-bottom: 2px dashed rgb(109, 109, 109);
  border-radius: 3px;
  position: absolute;
  top:163px;
  left:0;
  width: 330px;
}

#car-full-broken{
  display: none;

}

