* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary: orange;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    
    width: 330px;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 2px 20px rgb(189, 189, 189);
    padding: 30px;
    border-radius: 12px;
}

.header {

    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    
}

p {
    font-size: 16px;
    line-height: 1.3;
}

#display-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

#previous-display {
    font-size: 13px;
    line-height: 1.0;
}

 button {
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
   
}

#guess-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    font-size: 15px;
}

#low-hi {
    padding: 4px 8px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
}

.progress-bg {
    position:absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: aliceblue;
    border-radius: 12px;
}

#progress {
    border-radius: 6px;
    width: 0;
    height: 6px;
    /* background: var(--primary); */
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

strong {
    font-size: 17px;
}